body{
    font-family: "Open Sans", sans-serif;
    color: #474647;
}
.text-dark{
    color: #474647 !important;
}

.container{
    max-width: 1064px;
}

header{
    min-height: 55px;
    background-color: #fff;
}

.nav-link{
    font-size: 12px;
}
.nav-link.active{
    color: #008000 !important;
}

input.form-control.form-search {
    font-size: 10px;
    max-height: 26px;
    outline: none;
}
input.form-control.form-search:focus {
    box-shadow: unset;
}

.hero-section, .who{
    background-color: #F8F8F8;
}

.text-theme{
    color: #5AB567;
}

.hero-desc-area{
    max-width: 500px;
}
.hero-desc-area p{
    font-size: 14.5px;
    line-height: 130%;
}
.card{
    max-width: 180px;
}
.card-title{
    font-size: 12px;
}

.card-desc{
    font-size: 12px;
    text-align: justify;
}

.who p{
    max-width: 600px;
    font-size: 14.5px;
    text-align: justify;
}
.inner-container{
    margin: 0 7%;
}
.item-card{
    font-size: 13px;
}
.border-6{
    border-width: 10px !important;
}
footer{
    background-color: #474647;
    font-size: 10px;
}
footer p{
    padding-bottom: 3px;
}

footer span {
    display: inline-block;
    min-width: 35px;
}

.inner{
    max-width: 700px;
    margin: auto;
}

.sub-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    color: #5AB567;
}
.desc{
    font-size: 13px;
}
.desc-sm{
    font-size: 10px;
}
.dash-list{
    list-style-image: url(../images/dash.gif);
    list-style-position: outside;
}

.dash-list-green{
    list-style-image: url(../images/dash-green.gif);
    list-style-position: outside;
    color: #5AB567;
}

table{
    max-width: 500px;
}
table td{
    line-height: 1.2;
    font-size: 13px;
    vertical-align: middle;
}
table td a{
    color: #474647;
}

.table>:not(caption)>*>* {
    padding: .33rem .3rem;
    color: #474647;
    background-color: transparent !important;
}

.deleted{
    color: #FF0000;
    text-decoration: line-through;
}

#info .item-card .desc {
    max-width: 460px;
}
.newsleter-wrapper{
    max-width: 750px;
    margin: auto;
}
.newsleter-form{
    max-width: 550px;
}
.form-control{
    font-size: 13px;
}
@media screen and (max-width: 768px) {
    .inner-container {
        margin: 0 4%;
    }

    .image-container img {
        max-width: 70px;
    }
    
}